body{
    background-color: #1a1a1a;
}
header nav, table, .card{
    background-color: #111111;
}
h1, h2, h3, h4, p, li{
    color: #FDF6F0;
}
.btn{
    background-color: #F5E3C3;
    color: #1E1E1E;
}
.btn:hover{
    background-color: #f1c8b6;
}

tbody, thead{
    color: #F5E3C3;
}

input:-internal-autofill-selected{
    background-color: #1a1a1a !important;
    color: #FDF6F0;
}
input{
    color: #FDF6F0;
}

i ~ .badgeCart{
    font-size: 11px;
    font-weight: 500;
    position: absolute !important;
    top: 13px;
    right: 8px;
    background-color: red;
    padding: 3px;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    line-height: 9px;
    text-align: center;
}
form .btn{
    line-height: 32px !important;
}