<section class="section">
  <h1> Iniciar Sesión </h1>
  <form action="/api/sessions/login" method="POST">
    <div class="form-group">
      <label for="email"> Email </label>
      <input type="email" name="email" id="email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password"> Password </label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn mt-2"> Iniciar Sesión </button> 
  </form>

  <div class="mt-2">
    <a href="/restore-password">
      ¿Se te olvidó tu contraseña?
    </a>
  </div>
</section>