<div class="m-3 bg-warning rounded-4 p-3">
  <h1> Recuperar contraseña </h1>
  <form action="/api/sessions/restore-password" method="POST">
    <div class="form-group">
      <label for="email"> Email </label>
      <input type="email" name="email" id="email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-secondary mt-2">
      Recuperar contraseña
    </button>
  </form>
</div>